@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Exo+2:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo 2', sans-serif;

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/fun.jpg);
    overflow: hidden; 
}
.separador{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 95vh 5vh ;
    grid-column-gap: 20px;
}
.apresentacao{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 105%;
}
.apresentacao p{
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    line-height: 1.5;
}
.portifolio{
    display: flex; 
    flex-direction: row;
    text-align: right;
}
.portifolio p{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    border: 1px solid black;
    font-size: 28px;
}
.idioma{
    margin-bottom: 0;
    height: 0px;
}
.idioma img{
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 4400%;
}
.eua{
    display: flex;
    margin-top: -28px;
}
.brasil{
    display: flex;
    margin-left: 44px;
    margin-top: 10px;
}
.img{
    box-shadow:0 0 20px 2px rgba(0, 0, 0, .1);
}
.img :hover{
    transition: 0.5s;
    transform: scale(1.1);
    z-index: 3;
}
.felipe{
    margin: 0 auto;
    margin-left: 168px;
    margin-right: 84px;
    margin-top: 20%;
 }
 .felipe img{
    width: 230px;
    height: 230px;
    border-radius: 200px;
    border: 5px solid black;
    margin-right: 32px;
    margin-bottom: 15px;
 }
 .lucas{
     margin: 0 auto;
     margin-left: 100px;
     margin-right: 100px;
     margin-top: 20%;
 }
 .lucas img{
    width: 230px;
    height: 230px;
    border-radius: 200px;
    border: 5px solid black;
    margin-right: 32px;
    margin-bottom: 15px;
 }
 h1{
    color: white;
    font-size: 35px;
    display: flex;
    margin-left: 105px;
    margin-top: 15px;
    
}
p{
    color: white;
    text-align: center;
}
.direitos{
    color: black;
    width: 100%;
    bottom: 1px;
    text-align: center;
    padding: 1px;
    font-size: 15px;
    display: grid;
    grid-column-start:1 ;
    grid-column-end: 3;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

